<!-- app/views/professors/show.html.erb -->
<p>
  <strong>Codigo da turma</strong>
  <%= @turma.codigo_turma %>
</p>


<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turma_path %>
