<h1>Resultados da busca</h1>
<% if @alunos.any? %>
  <ul>
    <% @alunos.each do |aluno| %>
      <li><%= aluno.nome %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum aluno encontrado.</p>
<% end %>
