*{
    margin:0;
    padding:0;
    border-sizing: border-box;
}

    /* Estilos para o formulário */
    .form {
      font-family: Arial, sans-serif;
    }

    /* Estilos para os campos de entrada de texto */
    .input {
      width: 100%;
      padding: 8px;
      margin-top: 6px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    /* Estilos para o botão de envio */
    .btn {
      background-color: #333;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    /* Estilos para a caixa de seleção */
    .select {
      width: 100%;
      padding: 8px;
      margin-top: 6px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    /* Estilos para centralizar o conteúdo */
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    /* Estilos para o container do formulário */
    .form-container {
      max-width: 400px;
      width: 100%;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
  .titulo-alunos-professor {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;

  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .botao-aluno-professor{
    margin-top:10px;
  }

  .titulo-alunos {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;

  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .botao-aluno{
    margin-top:10px;
  }
  .search-input {
  width: 130px;
  margin-top: 7px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

.search-input:focus {
  width: 1000px;
  margin-top: 7px;
}

/* Estilos para a barra de pesquisa */
.input-group {
  margin-bottom: 10px;
}

.search-input {
  border-radius: 20px; /* bordas arredondadas */
  padding-left: 20px; /* espaço à esquerda para o ícone de pesquisa */
}

.input-group-append .btn {
  border-radius: 20px; /* bordas arredondadas */
}
